<div id="task-<%= task.id %>">
  <%= link_to 'Delete', lead_project_task_path(@lead, @lead.project, task), class: 'btn btn-xs btn-danger', style: 'margin-top: 10px;', controller: :projects, action: :destroy, method: :delete, remote: true %>
  <h5 style="display: inline-block; margin-top:5px;"><%= task.name %> </h5>
  <p style="padding-left: 55px;margin-top:-10px !important; color:#666;"> <%= task.details %></h6>
</div>
