<div id="comment-<%= comment.id %>">
  <%= button_to "Delete", lead_comment_path(@lead, comment), method: :delete, :class=>'btn btn-xs btn-danger', :style => "float:left;margin-top:6px !important;", remote: true %> &nbsp;
   <h5 style="display: inline-block; margin-top:5px"> <%= comment.comment %> </h5>
   <h6 style="padding-left: 50px;margin-top:-10px !important; color:#666;"> <%=comment.created_at.strftime('%c') %> </h6>
</div>
