<ul class="nav navbar-nav navbar-right">
  <div class="dropdown" style="padding-top: 0px;">
    <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
      Options
    </button>
    <ul class="dropdown-menu" style="background-color: white;
      box-shadow: 4px 2px 3px rgba(0,0,0,.35);float:left !important;" aria-labelledby="dropdownMenu">
      <li><%= link_to 'Password Reset', edit_user_registration_path(@user)  %></li>
      <li><%= link_to 'Create Appointment', new_event_path(@user), remote: true  %></li>
      <li><%= link_to 'Edit Profile', edit_user_path(@user)%></li>
    </ul>
  </div>
</ul>
