<div class="container form-card">
  <div class="row center-block" style="margin-left: 100px">
    <h1>Edit <%= link_to 'Cancel', leads_path, :class => "btn btn-danger btn-md", :style => "float:right;margin-right:0px", method: :get %></h1>
  </div>
  <%= render 'form' %>
</div>
