<!--
@Author: Sean Hulse <robot>
@Date:   16-03-2017
@Email:  seanjhulse.com
@Filename: index.html.erb
@Last modified by:   robot
@Last modified time: 17-03-2017
@Copyright: Copyright 2017
-->


<div class="container">
  <div class="row">
      <div class="col-lg-12">
        <h1 id="header-title"><i id="material-icon-header" class="material-icons">trending_up</i>Leads</h1>
      </div>
  </div>
  <div class="row">
    <div class="col-lg-12" id="search-background">
      <%= render '/leads/search_form' %>
    </div>
  </div>
  <br>
  <div class="row">
    <%= render 'index' %>
  </div>
  <div class="row">
    <%= will_paginate @leads %>
  </div>
</div>
