<!--
@Author: Sean Hulse <robot>
@Date:   17-03-2017
@Email:  seanjhulse.com
@Filename: new.html.erb
@Last modified by:   robot
@Last modified time: 17-03-2017
@Copyright: Copyright 2017
-->



<div class="container form-card">
  <div class="row center-block">
    <h1>Create a New Lead</h1>
  </div>
  <%= render 'form' %>
</div>
