<!--
@Author: Sean Hulse <robot>
@Date:   17-03-2017
@Email:  seanjhulse.com
@Filename: new.html.erb
@Last modified by:   robot
@Last modified time: 17-03-2017
@Copyright: Copyright 2017
-->



<div class="container form-card">
  <div class="row center-block">
    <h1>Create a New Lead <%= link_to 'Cancel', leads_path, :class => "btn btn-danger btn-md", :style => "float:right;margin-right:0px", method: :get %></h1>
  </div>
  <%= render 'form' %>
</div>
