<div class="modal fade" id="edit_event">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" style="float:left">Edit Event</h4>
        <% unless @event.lead_id.nil? %>
          <% @lead = Lead.find_by_id(@event.lead_id) %>
          <%= link_to 'Jump to Lead', lead_path(@lead), class: 'btn btn-danger btn-md', style: 'float: right !important; margin-right: 10px;' %>
        <% end %>
      </div>
      <div class="modal-body">
        <%= render 'form', event: @event %>
      </div>
    </div>
  </div>
</div>
