<!--
@Author: Sean Hulse <robot>
@Date:   16-03-2017
@Email:  seanjhulse.com
@Filename: index.html.erb
@Last modified by:   robot
@Last modified time: 17-03-2017
@Copyright: Copyright 2017
-->



<div class="container">
  <div class="row">
      <div class="col-lg-12">
        <h1><img src="/icons/customer.png" height="75px" class=""></img> Customers</h1>
      </div>
  </div>
  <div class="row">
    <div class="col-lg-12" id="search-background">
      <h5 class="container" style="" id="search-icon"><span class="glyphicon glyphicon-search"></span> Advanced Search</h5>
      <%= render '/leads/search_form' %>
    </div>
  </div>
  <br>
  <div class="row">
    <%= render 'index' %>
  </div>
  <div class="row">
    <%= will_paginate @leads %>
  </div>
</div>
