<style>
.fc td, .fc th {
  border-style: solid;
  border-width: 1px;
  padding: 0;
  background-color: white;
  vertical-align: top;
  border-color: #d2d2d2;
}
</style>
<div class="row">
  <div class="col-lg-8 col-lg-offset-2">
    <div class='calendar'></div>
  </div>
</div>
