#task-done {
  margin-left: 50%;
  color: #2bc32b;
}
#task-not-done {
  margin-left: 50%;
  color: #ff6565;
}
th {
  text-align: center !important;
}
h2 {
  text-align: center !important;
}
.search-form-boxes {
  border-radius: 4px;
  border-style: groove;
  border-color: #fff !important;
}
