<% flash.each do |key, value| %>
  <% unless value.empty? %>
    <div class="animated fadeInDown alert alert-<%= key %> hide-on-mobile" id="flash-message" style="margin: 0px !important;">
      <a class="close" id="close-flash">×</a>
          <%= value.html_safe %>
    </div>
  <% end %>
<% end %>
<script>
 $("#close-flash").click(function() {
    // assumes element with id='button'
    $("#flash-message").slideUp();
 });
</script>
