<!DOCTYPE html>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<html>
  <%= render 'layouts/header' %>
  <body>
    <div class="padding-top-25"></div>
    <div class="flash-container">
      <%= render 'layouts/flash' %>
    </div>
      <%= yield %>
      </div>
    </div>
      <br>
      <%= render 'layouts/footer' %>
  </body>
</html>
